{% extends 'base.html.twig' %}

{% block title %}Preferences index{% endblock %}

{% block body %}
    <h1>Preferences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstValue</th>
                <th>SecondValue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preference in preferences %}
            <tr>
                <td>{{ preference.id }}</td>
                <td>{{ preference.firstValue }}</td>
                <td>{{ preference.secondValue }}</td>
                <td>
                    <a href="{{ path('preferences_show', {'id': preference.id}) }}">show</a>
                    <a href="{{ path('preferences_edit', {'id': preference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('preferences_new') }}">Create new</a>
{% endblock %}
