{% extends 'base.html.twig' %}

{% block title %}EAF index{% endblock %}

{% block body %}
    <h1>EAF index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Version</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for e_a_f in e_a_fs %}
            <tr>
                <td>{{ e_a_f.id }}</td>
                <td>{{ e_a_f.name }}</td>
                <td>{{ e_a_f.version }}</td>
                <td>
                    <a href="{{ path('e_a_f_show', {'id': e_a_f.id}) }}">show</a>
                    <a href="{{ path('e_a_f_edit', {'id': e_a_f.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('e_a_f_new') }}">Create new</a>
{% endblock %}
